[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
flake8 = "*"
black = "*"
awsebcli = "*"

[packages]
django = "==2.2.27"
pillow = "*"
django-countries = "*"
django-seed = "*"
django-dotenv = "*"
requests = "*"
flake8 = "*"
pipenv-to-requirements = "*"
awsebcli = "*"
sentry-sdk = "*"
psycopg2-binary = "==2.8.5"
django-storages = "*"
python-dotenv = "*"
boto3 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
