<form class="w-full" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-auth {% if field.errors %}input-error{% endif %}">
        {{field}}
        {% include 'partials/input_errors.html' with errors=field.errors %}
        </div>
    {% endfor %}
    <div class="form-auth">
        {% include "partials/input_errors.html" with errors=form.non_field_errors %}
    </div>
    <div class="auth-btn mb-2 bg-red-500 text-white">
        <button class="w-full h-full">{{cta}}</button>
    </div>
</form>