<div class="flex flex-col">
    <a href="{% url "rooms:detail" room.pk %}">
        <div class="mb-3 bg-center bg-cover w-full h-64 rounded-lg" style="background-image: url({{room.first_image}})"></div>
        <div class="flex justify-between  px-1">
            <div class="flex items-center">
                {% if  room.host.is_superhost %}
                <span class="text-gray-800 font-bold text-xs border border-gray-800 rounded-md px-1 mr-1">SUPERHOST</span>
                {% endif %}
                <span class="text-gray-600 text-xs truncate">{{room.city}}·{{room.country.name}}</span>
            </div>
            <div class="inline-block">
                <span class="text-red-600 font-bold text-xs">★</span>
                <span class="text-gray-900 text-xs">{{room.get_ratings}}</span>
            </div>
        </div>
        <div>
            <p class="text-gray-600 text-base">{{room.name}}</p>
            <span class="text-gray-900 font-extrabold">${{room.price}}</span><span class="text-gray-600 font-thin"> / night</span>
        </div>

    </a>
</div>