{% extends "base.html" %} 
{% block pagename %} Home {% endblock pagename %} {%block content %}
<!-- paging using paginator -->
<p>{{now}}</p>
{% for r in object_list %}
<div>
  <a href="{% url "rooms:detail" r.pk %}">
  <h4>{{ r.name }} / {{r.price}}</h4>
  </a>
</div>
{% endfor %} page {{page_obj.number}} of {{page_obj.paginator.num_pages}}>> {% if page_obj.has_previous %}
<a href="?page={{page_obj.previous_page_number}}"><span><< prev</span></a>
{% endif %} {% for p in page_obj.paginator.page_range %} {% if p != page_obj.number %}<a
  href="?page={{p}}"
>
  <span>&nbsp;{{p}}&nbsp;</span></a
>
{% else %}
<span>&nbsp;{{p}}&nbsp;</span>
{% endif %} {% endfor %} {% if page_obj.number != page_obj.paginator.num_pages %}
<a href="?page={{page_obj.next_page_number}}"><span>>> next</span></a>
{% endif %} {% if error %}
<p>
  {{msg}}{% endif %}</p>
  <!-- using template without paginator
  {% for r in rooms %}
    <div>
      <h4>{{ r.name }}</h4>
    </div>
  {% endfor %}
  page {{current_page}} of {{last_page}}>> 
  {% if  current_page != 1 %}
    <a href="?page={{current_page|add:-1}}"><span><< prev</span></a>
  {% endif %}
  {% for p in pages %}
    {% if p != current_page %}<a href="?page={{p}}">
    <span>&nbsp;{{p}}&nbsp;</span></a>
    {% else %}
    <span>&nbsp;{{p}}&nbsp;</span>
    {% endif %}
  {% endfor %}
  {% if  current_page != last_page %}
    <a href="?page={{current_page|add:1}}"><span>>> next</span></a>
  {% endif %}
  -->
{% endblock content %}
