{% extends "base.html" %} 
{% block pagename %} Home {% endblock pagename %} {%block content %}
<!-- paging using paginator -->
<div class="container mx-auto">
  <div class="container w-full rounded-xl bg-gray-800 h-50vh mt-10 mb-20 bg-cover bg-center" style="background-image: url(https://images.unsplash.com/photo-1535189043414-47a3c49a0bed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2689&q=80)"></div>

  </div>
  <div class="flex flex-col -mx-10 mb-6">
    <h1 class="text-gray-700 text-xl font-bold mb-2">Place to stay arounds the world.</h1>
    <div class="grid grid-cols-4 gap-4">
      {% for r in object_list %}
        {% include "partials/room.html" with room=r %}
      {% endfor %} 
    </div>
  </div>
  <div class="flex justify-center text-gray-700 font-thin">
    <span class="font-semibold text-gray-700 mr-3">page {{page_obj.number}}/{{page_obj.paginator.num_pages}}</span>
    {% if page_obj.has_previous %}
    <a href="?page={{page_obj.previous_page_number}}"><i class="fas fa-arrow-left mr-2 text-blue-400"></i><span>prev</span></a>
    {% endif %} 
    {% for p in page_obj.paginator.page_range %} 
    {% if p != page_obj.number %}
    <a class="hover:underline" href="?page={{p}}"><span>&nbsp;{{p}}&nbsp;</span></a>
    {% else %}
    <span class="font-bold">&nbsp;{{p}}&nbsp;</span>
    {% endif %} 
    {% endfor %} 
    {% if page_obj.number != page_obj.paginator.num_pages %}
    <a href="?page={{page_obj.next_page_number}}"><span class="mr-2">next</span><i class="fas fa-arrow-right text-blue-400 mr-2"></i></a>
    {% endif %}
  </div>
</div>
  <!-- using template without paginator
  {% for r in rooms %}
    <div>
      <h4>{{ r.name }}</h4>
    </div>
  {% endfor %}
  page {{current_page}} of {{last_page}}>> 
  {% if  current_page != 1 %}
    <a href="?page={{current_page|add:-1}}"><span><< prev</span></a>
  {% endif %}
  {% for p in pages %}
    {% if p != current_page %}<a href="?page={{p}}">
    <span>&nbsp;{{p}}&nbsp;</span></a>
    {% else %}
    <span>&nbsp;{{p}}&nbsp;</span>
    {% endif %}
  {% endfor %}
  {% if  current_page != last_page %}
    <a href="?page={{current_page|add:1}}"><span>>> next</span></a>
  {% endif %}
  -->
{% endblock content %}
