{% extends "base.html" %} 
{% load countries %}
{% get_countries as countries %}

{% block pagename %} Home {% endblock pagename %}
{%block content %}
<div class="w-5/6 max-w-full h-auto">
    <div class="w-5/6 flex flex-col h-20vh mb-10">
        <h2 class="text-2xl">{{object.name}}</h2>
        <div class="w-full flex items-baseline text-base">
            <i class="fas fa-star text-red-500 font-bold text-base ml-3 mr-2"></i>
            <span>{{object.get_ratings}}</span>
            <span class="text-base text-gray-700">({{object.my_reviews.count}})</span>
            {% if object.host.is_superhost %}
            <span class="mx-2 text-gray-700 text-base">﹒ <i class="fas fa-check text-red-500 mr-1"></i>SUPERHOST</span>
            {% endif %}
            <span class="mx-1 text-gray-700 text-base">﹒ {{object.city}}, {{object.country.name}}</span>
        </div>
    </div>
    <div class="w-full flex flex-row h-50vh mb-10 mx-auto">
        <div class="w-3/5 h-full bg-gray-100 mr-5 bg-cover bg-center rounded-l-lg" style="background-image: url('{{object.first_image}}');"></div>
        <div class="w-2/5 h-full bg-gray-100 grid-cols-2 grid grid-rows-2 gap-5">
            {% for image in object.from_second_four_image %}
            <div class="w-full h-full bg-cover bg-center {% if forloop.counter is 2 %}rounded-tr-lg{% elif forloop.counter is 4 %}rounded-br-lg{% endif %}" style="background-image: url('{{image.image.url}}');">
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="w-full h-auto mx-auto flex justify-around">
        <div class="w-1/2 h-auto">
            <div class="flex justify-between items-center mb-8">
                <div class="block">
                    <p class="text-gray-800 text-base">{{ object.name }}</p>
                    <p class="text-base font-thin text-gray-500">{{ object.city }}</p>
                </div>
                <div class="w-12 h-12">
                    {% include "partials/avatar.html" with profile=object.host %}
                    <p class="text-gray-600 font-light text-center text-xs">{{ object.host.first_name }}</p>
                </div>
            </div>
            <hr class="mb-4">
            <div class="felx">
                <span class="mr-5 text-gray-700 font-normal text-base">{{ room.room_type }}</span>
                <span class="mr-5 text-gray-700 font-normal text-base">max guest{{ room.guests|pluralize }} {{ room.guests }}</span>
                <span class="mr-5 text-gray-700 font-normal text-base">bed{{ room.beds|pluralize }} {{ room.beds }}</span>
                <span class="mr-5 text-gray-700 font-normal text-base">bedroom{{ room.bedrooms|pluralize }} {{ room.bedrooms }}</span>
                <span class="mr-5 text-gray-700 font-normal text-base">bath{{ room.baths|pluralize }} {{ room.baths }}</span>
            </div>
            <div class="border-t border-gray-400 mt-5 pt-5">
                <p class="text-gray-600 text-base">{{ room.description }}</p>
            </div>
            <div class="border-t border-gray-400 mt-5 pt-5">
                <h2 class="text-xl text-gray-600">
                    Amenities</h2>
                    <div class="grid grid-cols-2 w-full h-auto">
                        {% for a in room.amenities.all %}
                            <p class="text-base font-normal text-gray-500">{{ a }}</p>
                        {% endfor %}
                    </div>
            </div>
            <div class="border-t border-gray-400 mt-5 pt-5">
                <h2 class="text-xl text-gray-600">
                    Facilities</h2>
                    <div class="grid grid-cols-2 w-full h-auto">
                        {% for a in room.facilities.all %}
                            <p class="text-base font-normal text-gray-500">{{ a }}</p>
                        {% endfor %}
                    </div>
            </div>
            <div class="border-t border-gray-400 mt-5 pt-5">
                <h2 class="text-xl text-gray-600">
                    House rules</h2>
                    <div class="grid grid-cols-2 w-full h-auto">
                        {% for a in room.house_rules.all %}
                            <p class="text-base font-normal text-gray-500">{{ a }}</p>
                        {% endfor %}
                    </div>
            </div>
            <div class="border-t border-gray-400 mt-5 pt-5">
                <h2 class="text-xl text-gray-600">
                    <i class="fas fa-star text-red-500 font-bold text-base ml-3 mr-2"></i>{{ object.get_ratings}} points ({{ room.my_reviews.count }} review{{room.my_reviews.count|pluralize}})</h2>
                    <div class="grid grid-cols-2 w-full h-auto">
                        {% for a in room.house_rules.all %}
                            <p class="text-base font-normal text-gray-500">{{ a }}</p>
                        {% endfor %}
                    </div>
            </div>
        </div>
        <div class="w-1/3">

        </div>
    </div>
</div>
{% endblock content %}