{% extends "base.html" %}
{% block pagename %}
Seaeerch
{% endblock pagename %}
{% block search_bar %}
    {{s_country}}
    <form method="get" action="{% url "rooms:search" %}">
    <div>
        <label for="city">City</label>
        <input value={{city}} name="city" id="city" placeholder="Search by city" />
    </div>
    <div>
        <label for="country">Country</label>
        <select id="country" name="country">
            <option value="AnyCountry" {% if country is "AnyCountry" %}selected{% endif %}>Any country</option>
            
            {% for c in countries %}            
            <option value="{{c.code}}" {% if c.code == s_country %}selected{% endif %}>
            {{c.name}}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="room_type">Room type</label>
        <select id="room_type" name="room_type">
            <option value="0" {% if s_room_type is 0 %}selected{% endif %}>Any kind</option>
            {% for c in room_types %}
            <option value="{{c.pk}}" {% if c.pk is s_room_type %}selected{% endif %}>
            {{c.name}}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <p>Price</p>
        <label for="min_price">Min. pirce</label>
        <input value={{min_price}} name="min_price" id="min_price"  />
        <label for="max_price">Max. pirce</label>
        <input value={{max_price}} name="max_price" id="max_price" />
    </div>
    <div>
        <label for="guests">Guests</label>
        <input value={{guests}} name="guests" id="guests" placeholder="How many guest?" />
    </div>
    <div>
        <label for="beds">Beds</label>
        <input value={{beds}} name="beds" id="beds" placeholder="How many beds?" />
    </div>
    <div>
        <label for="bedrooms">Bedrooms</label>
        <input value={{bedrooms}} name="bedrooms" id="bedrooms" placeholder="How many beds?" />
    </div>
    <div>
        <label for="baths">Baths</label>
        <input value={{baths}} name="baths" id="baths" placeholder="How many baths?" />
    </div>
    <div>
        <label for="instant">Do you want instant only?</label>
        <input type="checkbox" name="instant" id="instant" value="{{is_instant}}" {% if is_instant %}checked{% endif %} />
        <label for="superhost">Do you want superhost?</label>
        <input type="checkbox" name="superhost" id="superhost" value="{{is_superhost}}" {% if is_superhost %}checked{% endif %}/>
    </div>
    <div>
        <h3>Amenities</h3>
        <ul>
        {% for a in amenities %}
            <li><input type="checkbox" name="amenities" id="a_{{a.pk}}" value="{{a.pk}}" {% if a.pk|slugify in checked_amenities %}checked{% endif %} /><label for="a_{{a.pk}}">{{a.name}}</li>
        {% endfor %}
        </ul>
    </div>
    <div>
        <h3>Facilities</h3>
        <ul>
        {% for f in facilities %}
            <li><input type="checkbox" name="facilities" id="f_{{f.pk}}" value="{{f.pk}}" {% if f.pk|slugify in checked_facilities %}checked{% endif %} /><label for="f_{{f.pk}}">{{f.name}}</li>
        {% endfor %}
        </ul>
    </div>
    <button>Search</button>
    <div>
        <h1>{{rooms.count}} found</h1>
        {% for r in rooms %}
        <a href="/rooms/{{r.pk}}"><p>{{r.name}}</p></a>
        {% endfor %}
    </div>
{% endblock search_bar %}
{% block content %}
You are searching city {{city}}, right?
{% endblock content %}