container_commands:
  02_compilemessages:
    command: "django-admin.py compilemessages"
  03_createsu:
    command: "django-admin.py createsu"
  04_collectstatic:
    command: "django-admin.py collectstatic --no-input"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings
