container_commands:
  02_compilemessages:
    command: "django-admin.py compilemessages"
  03_createsu:
    command: "django-admin.py createsu"
  04_collectstatic:
    command: "django-admin.py collectstatic --no-input"
  05_seedusers:
    command: "django-admin.py seed_users --number 100"    
  06_seedrooms:
    command: "django-admin.py seed_rooms --number 100"  
  09_seedreviews:
    command: "django-admin.py seed_reviews --number 200"
  10_seedreservations:
    command: "django-admin.py seed_reservations"
  11_seedlists:
    command: "django-admin.py seed_lists"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings
