@tailwind base;
@tailwind components;
.search-box {
  transition: box-shadow 0.3s linear;
}

.nav-link {
  @apply flex justify-center items-center ml-8 h-full font-extrabold border-b-2 border-white px-2;
  a {
    @apply py-6;
  }

  &:hover {
    @apply border-gray-600;
  }
}

.auth-btn {
  @apply flex rounded items-center h-12 mb-2;
}

.btn {
  @apply flex rounded items-center justify-center h-10 w-1/2;
}

.auth-input {
  @apply flex rounded items-center h-20 mb-2 w-full border px-5;
  &:focus {
    @apply outline-none border-teal-500;
  }
}

.form-auth {
  input,
  textarea,
  select {
    @apply flex rounded items-center h-16 my-2 w-full border p-3;
    &:focus {
      @apply outline-none border-teal-500;
    }
  }

  textarea {
    resize: none;
    height: 200px;
  }

  select {
    height: 3em;
  }

  &.input-error {
    input {
      @apply flex rounded items-center h-20 my-2 w-full border px-5 bg-red-100;
      &:focus {
        @apply outline-none border-red-500;
      }
    }
  }
  .error-message {
    @apply my-1 text-red-600 font-light text-left;
  }
}

@keyframes fadeout {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  5% {
    opacity: 1;
    transform: translateY(50px);
  }

  95% {
    opacity: 1;
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.message {
  &.error {
    @apply bg-red-300;
  }
  &.success {
    @apply bg-green-300;
  }
  &.debug {
    @apply bg-indigo-300;
  }
  &.info {
    @apply bg-blue-300;
  }

  &.fade-out {
    opacity: 1;
    animation: fadeout 5s ease-in-out forwards;
  }
}

@tailwind utilities;
