<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block pagename %}
    {% endblock pagename %}</title>
  </head>
  <body>
      <header>
        {% include "partials/nav.html" %}
        {% block search_bar %}
          <form method="get" action="{% url "rooms:search" %}">
          <input name="city" id="city" placeholder="Search by city" />
        {% endblock search_bar %}
         
    </form>
      </header>

      {% block content %}
      {% endblock content %}

      {% include "partials/footer.html" %}
  </body>
</html>
