{% extends 'base.html' %} 
{% block pagename %} {{object.guest.first_name}}'s reservation{% endblock pagename %} 
{% block content %}

<div class ="container h-1/2 mx-auto my-10 flex flex-col border border-gray-300 rounded-lg">
    <div class="bg-cover bg-center h-56 rounded-t-lg" style="background-image: url({{object.room.first_image}})"></div>
    <div class="p-3 border-b">
        <span>{{object.checkin_date}} - {{object.checkout_date}}</span>
        <span class="ml-5 text-green-400 font-bold">{{object.get_status_display}}
    </div>
    <div class="p-5 border-b text-lg">
        {{object.room.name}}
    </div>    
    <div class="w-full h-auto p-5 flex content-start border-b">
        <div class="w-12 h-12 mr-4">
            {% include "partials/avatar.html" with profile=object.room.host %}
            <p class="text-gray-600 font-light text-center text-xs">{{ object.room.host.first_name }}</p>
        </div>
        <div>
            <p>Contact your Airbnb Host</p>
            <a href="#" class="text-green-400">Send a Message</p>
        </div>
    </div>
    <div class="w-full h-auto p-5">
        <a href="#" class="btn bg-red-500 hover:bg-red-600 text-white transition duration-150">Cancel Reservation</a>
    </div>
</div>

{% endblock content %}