{% extends 'base.html' %}

{% block pagename %}
    login
{% endblock pagename %}

{% block content %}
    <div class="xl:w-2/5 lg:w-2/5 md:w-40 sm:flex-shrink-0 border p-10 min-w-1/2 h-75vh overflow-y-auto">
        {% include "partials/social_login.html" %}        
        {% include "partials/form_auth.html" with form=form cta="Log in" %}
        <span class="font-medium text-gray-500">Don't you have account? <a class="text-blue-500 font-bold hover:underline" href="{% url 'users:signup' %}">Sign up</a> Now</span>
    <div>
{% endblock content %}
    