{% extends 'base.html' %}

{% block pagename %}
    login
{% endblock pagename %}

{% block content %}
    <div class="xl:w-2/5 lg:w-2/5 md:w-40 sm:flex-shrink-0 border p-10 min-w-1/2 h-75vh">
        {% include "partials/social_login.html" %}
        
        <form class="w-full text-center" method="post" action="{% url "users:login" %}">
            {% csrf_token %}
            <input class="auth-input" name="username" id="id_username" placeholder="EMAIL ADDRESS" type="email">
            <input class="auth-input" name="password" id="id_password" placeholder="PASSWORD" type="password">
            <div class="auth-btn mb-2 bg-red-500 text-white">
                <button class="w-full h-full">Log in</button>
            </div>
        </form>
        <span class="font-medium text-gray-500">Don't you have account? <a class="text-blue-500 font-bold hover:underline" href="{% url 'users:signup' %}">Sign up</a> Now</span>
    <div>
{% endblock content %}
    