{% extends 'base.html' %}

{% block pagename %}
    Sign up
{% endblock pagename %}

{% block content %}
    <div class="xl:w-2/5 lg:w-2/5 md:w-40 sm:flex-shrink-0 border p-10 min-w-1/2 h-75vh min-h-50vh overflow-y-auto">
        {% include "partials/social_login.html" %}
        <form method="post" action="{% url "users:signup" %}">
            {% csrf_token %}
            <input class="auth-input" name="username" id="id_username" placeholder="EMAIL ADDRESS" type="email">
            <input class="auth-input" name="first_name" id="id_first_name" placeholder="FIRST NAME" type="text">
            <input class="auth-input" name="last_name" id="id_last_name" placeholder="LAST NAME" type="text">
            <input class="auth-input" name="password1" id="id_password" placeholder="PASSWORD" type="password">
            <input class="auth-input" name="password2" id="id_password" placeholder="PASSWORD CONFIRM" type="password">
            <div class="auth-btn mb-2 bg-red-500 text-white">
                <button class="w-full h-full">Sign up now</button>
            </div>
        </form>
    </div>
{% endblock content %}
    