{% extends 'base.html' %}
{% block pagename %}
Changing {{user.first_name}}'s password
{% endblock pagename %}

{% block content %}

{% ifequal user.login_method "EM" %}
<div class="xl:w-2/5 lg:w-2/5 md:w-40 sm:flex-shrink-0 border p-10 min-w-1/2 h-75vh overflow-y-auto">
    {% include "partials/form_auth.html" with form=form cta="Update Password" %}
</div>
{% else %}
<div class="xl:w-2/5 lg:w-2/5 md:w-40 sm:flex-shrink-0 border p-10 min-w-1/2 h-75vh overflow-y-auto">
    <p class="text-xl text-red-400 mx-auto">You logged in by using github or kakao authorization.</p>
    <p class="text-xl text-red-400 mx-auto">You cannot change password</p>

    <a class="w-1/6 mx-auto" href="{% url 'users:user' pk=user.pk %}">
        <div class="auth-btn bg-red-500 text-white text-center mx-auto">
            <p class="mx-auto">Back to profile</p>
        </div>
    </a>
</div>
{% endifequal %}


{% endblock content %}